name: dev_grid
description: "A new Flutter package for overlaying Figma-like guides for development purposes."
version: 0.0.3
homepage: https://github.com/emilio-kariuki/dev_grid.git

environment:
  sdk: ^3.8.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
